.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-tertiary-color);
}

.footer-logo {
    display: block;
    margin-bottom: 20px;

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.footer-address {
    font-style: normal;

}

.footer-logo,
.footer-address {
    color: #ffffff;
}

.footer-list {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.7;
}

.footer-logo>span {
    color: var(--accent-color);
}

.footer-contact:first-child {
    margin-bottom: 9px;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.footer-flex {
    display: flex;
}

.social-text {
    margin-bottom: 20px;

    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-social .social-icon {
    fill: var(--background-color);
}

.footer-social .social-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
    background-color: var(--accent-color);
}

.footer-address-container {
    margin-right: 70px;
}

.footer-social-container {
    align-items: baseline;
    padding-top: 12px;
    margin-right: 92px;
}

.footer-form {
    padding-top: 12px;
}

.footer-form-title {
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.input-container {
    display: flex;
    align-items: center;
}

.footer-input {
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
    background-color: transparent;
    color: #ffffff;
}

.footer-form-button {
    display: flex;
    align-items: center;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;

    color: #ffffff;
    background-color: var(--accent-color);

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.footer-button-icon {
    margin-left: 10px;
}
