$main-font: Roboto;
$secondary-font: Raleway;

$bg-color: #FFFFFF;
$text-color: #757575;
$text-secondary-color: #212121;
$accent-color: #2196F3;
$bg-secondary-color: #E5E5E5;
$bg-tertiary-color: #2F303A;
$bg-quaternary-color: #F5F4FA;